.A_HeaderLink {
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--mainGray);
  &:hover {
    background-color: White;
    border-radius: 2px;
  }
}
