.A_HeaderLink {
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--mainGray);
  padding: 0 5px;
  &:hover {
    color: var(--mainBlue);
    background-color: White;
    border-radius: 7px;
  }
}
