.O_Header {
  position: fixed;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 30px;
  overflow: hidden;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  border-radius: 14px;
  height: 46px;
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
  background-color: var(--mainBlue);
  transition: all 1s ease;
  &.open {
    height: 300px;
  }
  .C_LogoAndDescription,
  .C_HeaderLinks,
  .C_HeaderTitleAndButton {
    width: 300px;
  }
}
@media all and (max-width: 900px) {
  .O_Header {
    .C_HeaderTitleAndButton,
    .C_HeaderLinks {
      display: none;
    }
    .C_BurgerMenu {
      display: block;
    }
    &.active {
      background: white;
      align-items: flex-start;
      transition: 0.5s ease-in-out;
      height: 580px;
      color: black;
      .C_LogoAndDescription,
      .C_HeaderLinks,
      .C_HeaderTitleAndButton,
      .C_BurgerMenu {
        * {
          color: BLACK;
        }
      }
      .W_HeaderOpen {
        * {
          transition: all 1s ease;
          filter: opacity(100%);
        }
      }
    }
  }
}
