body.about {
  max-width: 100vw;
  height: 100%;
  align-items: center;
  overflow-x: hidden;
  background-color: white;
  header {
    mix-blend-mode: difference;
    position: fixed;
    width: 100%;
    .splash_menu {
      margin: 20px auto;
      width: 90%;
      max-width: 1590px;
    }
  }
  section {
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;
      max-width: 1920px;
      overflow-x: hidden;
    }
  }
  #title {
    background-color: var(--main_blue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        max-width: 100%;
        &:first-child {
          // width: 15%;
          margin-bottom: 30px;
          align-self: baseline !important;
        }
        &:last-child {
          // width: 30%;
          align-self: end;
        }
      }
    }
  }
  #about_us {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;
    }
  }
  #info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 95%;
    }
  }
  #features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    div {
      #layout {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        width: 100%;
        overflow: visible;
        gap: 20px;
        div {
          height: 400px;
          width: 100%;
          background-color: #dedede;
          border-radius: 20px;
        }
        #table_layout_change {
          grid-column-start: 1;
          grid-column-end: 3;
        }
        #glyph_zoom {
          grid-column-start: 4;
          grid-column-end: 6;
        }
        #filters {
          grid-column-start: 1;
          grid-column-end: 4;
        }
        #search {
          grid-column-start: 4;
          grid-column-end: 6;
        }
      }
    }
  }
  footer {
    height: 80%;
    background-color: var(--main_blue);
    h2 {
      color: white;
    }
  }
  #preludio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  footer {
    height: 80%;
    background-color: var(--main_blue);
    h2 {
      color: white;
    }
    section {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
      }
    }
  }
}
//   .wrap {
//     max-width: 100%;
//     margin: 0 auto;
//     overflow: hidden;
//     section {
//       margin-top: 250px;
//     }
//     .title_screen {
//       background-color: #5552ff;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       img {
//         width: 90%;
//       }
//       p {
//         text-align: center;
//       }
//     }
//     .about_us {
//     }
//     .running_fonts {
//       img {
//         height: 900px;
//         animation: slide 20s linear infinite;
//       }
//       @keyframes slide {
//         from {
//           margin-left: 0%;
//         }
//         to {
//           margin-left: -200%;
//         }
//       }
//     }
//     .our_goal {
//     }
// .features {
//   div {
//     display: flex;
//     flex-direction: row;
//     gap: 20px;
//     margin-bottom: 20px;
//   }

//   footer {
//     background-color: black;
//     height: 1000px;
//     color: white;
//     margin-top: 220px;
//     section {
//       margin: 0 auto;
//       max-width: 1690px;
//       h2 {
//         padding-top: 150px;
//       }
//       form {
//         margin: 0 auto;
//       }
//     }
//   }
// }
@media all and (max-width: 1728px) {
  .wrap {
    max-width: 1495px !important;
  }
  footer {
    section {
      max-width: 1495px !important;
    }
  }
}
