// @font-face {
//   font-family: 'ptsans';
//   src: url('fonts/20Kopeek-Black.otf') format('opentype');
// }
@font-face {
  font-family: 'ptsans';
  src: url('/src/fonts/20Kopeek-Black.otf') format('opentype');
}
@font-face {
  font-family: 'opensans';
  src: url('/src/fonts/OpenSans-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'suisse';
  src: url('/src/fonts/Q_Suisse.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
