@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Thin.ttf') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-ThinItalic.ttf ') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-LightItalic.ttf') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic.ttf') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-MediumItalic.ttf') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-BoldItalic.ttf') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-BlackItalic.ttf') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoCondensed-Light.ttf') format('woff');
  font-weight: 100;
  font-stretch: condensed;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoCondensed-Regular.ttf') format('woff');
  font-weight: 400;
  font-stretch: condensed;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoCondensed-Bold.ttf') format('woff');
  font-weight: 700;
  font-stretch: condensed;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoCondensed-LightItalic.ttf') format('woff');
  font-weight: 100;
  font-stretch: condensed;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoCondensed-Italic.ttf') format('woff');
  font-weight: 400;
  font-stretch: condensed;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoCondensed-BoldItalic.ttf') format('woff');
  font-weight: 700;
  font-stretch: condensed;
  font-style: italic;
}

@font-face {
  font-family: 'Akzidenz-Grotesk';
  src: url('fonts/Akzidenz-Grotesk/akzidenzgroteskpro_regular.ttf')
    format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src: url('fonts/Akzidenz-Grotesk/akzidenzgroteskpro_md.ttf') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src: url('fonts/Akzidenz-Grotesk/akzidenzgroteskpro_bold.ttf') format('woff');
  font-weight: 700;
}
