// @font-face {
//   font-family: 'ptsans';
//   src: url('fonts/20Kopeek-Black.otf') format('opentype');
// }
// @font-face {
//   font-family: 'ptsans';
//   src: url('/src/fonts/20Kopeek-Black.otf') format('opentype');
// }
// @font-face {
//   font-family: 'opensans';
//   src: url('/src/fonts/OpenSans-MediumItalic.ttf') format('truetype');
// }
@font-face {
  font-family: 'suisse';
  src: url('/src/fonts/Q_suisse.otf') format('opentype');
}
@font-face {
  font-family: 'inter';
  src: url('/src/fonts/Q_inter.ttf') format('opentype');
}
@font-face {
  font-family: 'montserrat';
  src: url('/src/fonts/Q_montserrat.ttf') format('opentype');
}
@font-face {
  font-family: 'comissioner';
  src: url('/src/fonts/Q_commissioner.ttf') format('opentype');
}
@font-face {
  font-family: 'raleway';
  src: url('/src/fonts/Q_raleway.ttf') format('opentype');
}
@font-face {
  font-family: 'manrope';
  src: url('/src/fonts/Q_manrope.ttf') format('opentype');
}
@font-face {
  font-family: 'golos';
  src: url('/src/fonts/Q_golos.ttf') format('opentype');
}
@font-face {
  font-family: 'plexSans';
  src: url('/src/fonts/Q_plex.ttf') format('opentype');
}
@font-face {
  font-family: 'nunito';
  src: url('/src/fonts/Q_nunito.ttf') format('opentype');
}
@font-face {
  font-family: 'helvetica';
  src: url('/src/fonts/Q_helvetica.otf') format('opentype');
}
@font-face {
  font-family: 'proxima';
  src: url('/src/fonts/Q_proxima.ttf') format('opentype');
}
@font-face {
  font-family: 'openSans';
  src: url('/src/fonts/Q_openSans.ttf') format('opentype');
}
@font-face {
  font-family: 'geometria';
  src: url('/src/fonts/Q_geometria.otf') format('opentype');
}
@font-face {
  font-family: 'Q_playfair';
  src: url('/src/fonts/Q_playfair.ttf') format('opentype');
}
@font-face {
  font-family: 'merriweather';
  src: url('/src/fonts/Q_merriweather.ttf') format('opentype');
}
@font-face {
  font-family: 'spectral';
  src: url('/src/fonts/Q_spectral.ttf') format('opentype');
}
@font-face {
  font-family: 'vollkorn';
  src: url('/src/fonts/Q_vollkorn.ttf') format('opentype');
}
@font-face {
  font-family: 'oldStandart';
  src: url('/src/fonts/Q_oldStandard.ttf') format('opentype');
}
@font-face {
  font-family: 'firaSans';
  src: url('/src/fonts/Q_firaSans.ttf') format('opentype');
}
@font-face {
  font-family: 'bebas';
  src: url('/src/fonts/Q_bebas.ttf') format('opentype');
}
@font-face {
  font-family: '21cent';
  src: url('/src/fonts/Q_21cent.ttf') format('opentype');
}
@font-face {
  font-family: '20kopeek';
  src: url('/src/fonts/Q_20kopeek.otf') format('opentype');
}
@font-face {
  font-family: 'basebloom';
  src: url('/src/fonts/Q_basebloom.otf') format('opentype');
}
@font-face {
  font-family: 'ebGaramond';
  src: url('/src/fonts/Q_ebGaramond.ttf') format('opentype');
}
@font-face {
  font-family: 'transgender';
  src: url('/src/fonts/Q_transgender.otf') format('opentype');
}
@font-face {
  font-family: 'cstm';
  src: url('/src/fonts/Q_cstm.otf') format('opentype');
}
@font-face {
  font-family: 'cstm02';
  src: url('/src/fonts/Q_cstm.otf') format('opentype');
}
@font-face {
  font-family: 'museo';
  src: url('/src/fonts/Q_museo.otf') format('opentype');
}
@font-face {
  font-family: 'bodoni';
  src: url('/src/fonts/Q_bodoni.otf') format('opentype');
}
@font-face {
  font-family: 'robotoSlab';
  src: url('/src/fonts/Q_robotoSlab.ttf') format('opentype');
}
@font-face {
  font-family: 'bonaNova';
  src: url('/src/fonts/Q_bonaNova.ttf') format('opentype');
}
@font-face {
  font-family: 'ptSerif';
  src: url('/src/fonts/Q_ptSerif.ttf') format('opentype');
}
@font-face {
  font-family: 'podkova';
  src: url('/src/fonts/Q_podkova.ttf') format('opentype');
}
@font-face {
  font-family: 'stalinist';
  src: url('/src/fonts/Q_stalinist.ttf') format('opentype');
}
@font-face {
  font-family: 'saint';
  src: url('/src/fonts/Q_saint.ttf') format('opentype');
}
@font-face {
  font-family: 'gillSans';
  src: url('/src/fonts/Q_gillSans.otf') format('opentype');
}
@font-face {
  font-family: 'press';
  src: url('/src/fonts/Q_press.ttf') format('opentype');
}
@font-face {
  font-family: 'unbounded';
  src: url('/src/fonts/Q_unbounded.ttf') format('opentype');
}
@font-face {
  font-family: 'charter';
  src: url('/src/fonts/Q_charter.otf') format('opentype');
}
@font-face {
  font-family: 'hauora';
  src: url('/src/fonts/Q_hauora.otf') format('opentype');
}
@font-face {
  font-family: 'akzidenz';
  src: url('/src/fonts/Q_akzidenz.ttf') format('opentype');
}
@font-face {
  font-family: 'baskerville';
  src: url('/src/fonts/Q_baskerville.ttf') format('opentype');
}
@font-face {
  font-family: 'franklin';
  src: url('/src/fonts/Q_franklin.ttf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
