form {
  display: flex;
  flex-direction: row;
  gap: 43px;
  input::placeholder {
    font-size: 38px;
  }
  input {
    border-radius: 50px;
    margin-top: 100px;
    padding: 0 auto;
    color: black;
    height: 93px;
    width: 775px;
    background-color: white;
    font-size: 38px;
    padding-left: 30px;
    font-family: var(--main_font), Helvetica, Arial, sans-serif;
  }
  button {
    background: transparent;
    align-self: end;
    width: 651px;
    height: 93px;
    border: #5552ff 5px solid;
    border-radius: 50px;
    color: white;
    font-size: 38px;
    font-family: var(--main_font), Helvetica, Arial, sans-serif;
    cursor: pointer;
    &:hover {
      background-color: rgba(190, 190, 190, 0.5);
    }
    &:active {
      background-color: grey;
    }
  }
}
