body.index {
  * {
    font-family: 'PT Root UI';
  }
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-gap: 1.5em;
  max-width: 100vw;
  align-items: center;
  margin-left: 84px;
  margin-right: 84px;

  section {
    div {
      margin-bottom: 70px;
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 32px;
        color: #7b7b7b;
        font-weight: 100;
      }
    }
    form {
      display: grid;
      grid-template-columns: 2fr 8fr;
      grid-gap: 1.5em;
      gap: 16px;
      input::placeholder,
      textarea::placeholder {
        font-size: 24px;
      }
      input,
      textarea {
        height: 54px;
        width: 356px;
        border: solid 2px black;
        border-radius: 6px;
        background-color: white;
      }
      button {
        width: 356px;
        height: 53px;
        border: none;
        border-radius: 6px;
        background-color: black;
        color: white;
        font-size: 20px;
      }
    }
  }
}
