body.index {
  background-color: var(--black);
  margin: 0 auto;
  max-width: 95vw;
  align-items: center;
  height: auto;
  overflow: hidden;
  h2,
  p {
    color: white;
  }
  section {
    position: relative;
    width: 90%;
    min-height: 900px;
    height: 100vh;
    margin: 0 auto;
    margin-top: 50px;
    div {
      margin-bottom: 50px;
    }
    img {
      width: 100%;
      position: absolute;
      bottom: 150px;
      z-index: -90;
    }
  }
}
