.menu {
  display: flex;
  flex-direction: column;
  * {
    max-width: fit-content;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px black;
  }
  .menuItem {
    margin-bottom: 20px;
    font-size: 32px;
    color: black;
    &.active {
      color: grey;
    }
  }

  .submenuItem {
    color: black;
    text-align: center;
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 100px;
    &.active {
      color: grey;
    }
  }
}
.splash_menu {
  margin-top: 24px;
  display: flex;
  gap: 120px;
  .menuItem {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 26px;
    color: white;
    &:first-child {
      font-weight: 500;
      font-size: 32px;
    }
    &:hover {
      color: rgb(190, 190, 190);
    }
    &:focus {
      color: grey;
    }
  }
}
