body {
  background-color: var(--mainGray);
}
.O_Search {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 25px;
  justify-content: flex-start;
  align-self: flex-start;
  .A_Button {
    margin-left: 10px;
  }
}

.A_SearchInput {
  border-radius: 45px;
  border: 2px solid var(--mainBlack);
  background-color: transparent;
  padding: 20px 50px;
  font-size: 24px;
  &:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
}

.A_Button {
  color: var(--mainBlack);
  width: fit-content;
  height: fit-content;
  font-size: 24px;
  border-radius: 20px;
  border: 2px solid var(--mainBlack);
  padding: 10px 30px;
  cursor: pointer;
  user-select: none;

  &:hover:not(.disabled) {
    background: var(--mainBlack);
    color: var(--mainGray);
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.S_Content {
  padding: 0 25%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 100px auto;
  flex-direction: column;
}

.O_ContentItem {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: var(--mainBlue);
  border-radius: 24px;
  .A_ContentItemTitle {
    font-size: 40px;
  }
  .A_ContentItemURL {
    padding: 10px;
    font-size: 24px;
    color: var(--mainGray);
    border: 2px solid var(--mainGray);
    border-radius: 30px;
    cursor: pointer;
    &:hover {
      background-color: var(--mainGray);
      color: var(--mainBlue);
    }
  }
  .C_ContentItemTags {
    display: flex;
    gap: 8px;
    margin: 10px 0;
  }

  &.hidden {
    display: none;
  }
}

.A_ContentItemTag {
  padding: 4px;
  background-color: grey;
  color: white;
}

.A_ContentItemCover {
  width: 100%;
}

.A_ContentItemTitle {
  font-weight: bold;
}
.SO_SearchPage {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5%;

  width: 100%;
}
