body.styleguide {
  background-color: black;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  //   max-height: 100vh;
  //   height: 100%;
  nav {
    position: fixed;
    div.back_to_landing {
      display: flex;
      align-items: center;
      width: fit-content;
      padding: 0 10px 0;
      height: 45px;
      background-color: white;
      border-radius: 5px;
      a {
        color: black;
        font-size: 26px;
        text-decoration: none;
      }
    }
    .navigation_body {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    margin: 20px 0 0 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    .logo {
      width: 170px;
      height: 50px;
      img {
        width: 95%;
        vertical-align: center;
        margin: 0 auto;
      }
    }
    li {
      list-style: none;
      width: fit-content;
      padding: 0 10px 0;
      height: 45px;
      background-color: white;
      border-radius: 5px;
      margin-top: 10px;
      &#open_all {
        background-color: white;
      }
      &:hover {
        background-color: white;
        a {
          color: white;
        }
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
      }
      a {
        color: black;
        font-size: 26px;
        text-decoration: none;
      }
      &.sub {
        background-color: white;
        margin-left: 30px;
        height: 45px;
      }
      &.active {
        background-color: #5552ff;
        a {
          color: white;
        }
      }
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: flex-end;
    section {
      position: relative;
      max-width: 80%;
      width: 80%;
      height: 100vh;
      background-color: black;
      margin-right: 60px;
      color: white;
      h1 {
        font-family: 'steinback';
        font-size: 8vw;
        margin-bottom: 80px;
      }
      h2 {
        margin-bottom: 10px;
        font-size: 4vw;
      }
      p {
        line-height: 35px;
        font-size: 1.8vw;
        margin: 0;
        margin-bottom: 100px;
      }
      // background-color: white;
      img {
        width: 100%;
        position: absolute;
        bottom: 80px;
      }
      &:first-of-type,
      &:last-of-type {
        // background-color: rgb(234, 255, 213);
      }
    }
  }
}
body.brand,
body.logos {
  .main {
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.row {
        overflow: hidden;
        flex-direction: row;
        justify-content: flex-start;
        gap: 150px;
        align-items: center;
      }
      img {
        top: 0;
        bottom: 0;
        position: relative;
        justify-self: center;
        object-fit: contain;
      }
    }
  }
}
@media all and (max-width: 1500px) {
  body.styleguide {
    section {
      img {
        height: 80%;
        object-fit: cover;
      }
    }
  }
}
@media all and (max-width: 1400px) {
  body.styleguide {
    section {
      width: 70% !important;
    }
  }
}
@media all and (max-width: 1280px) {
  body.styleguide {
    .back_to_landing {
      margin-left: 5vw;
      a {
        font-size: 2.5vw !important;
      }
    }
    #navbar {
      margin: 0;
      width: 100%;
      .logo {
        display: none;
      }
      #open_all {
        display: none;
      }
    }
    .navigation_body {
      flex-direction: row !important;
      width: 100%;
      justify-content: space-evenly;
      .sub {
        display: none;
      }
    }
    .main {
      z-index: -1;
      position: relative;
      align-items: center;
    }
    section {
      max-width: 100% !important;
      width: 100% !important;
      margin: 0 !important;
      h2,
      h1,
      p {
        margin-left: 50px !important;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  body.logos,
  body.brand {
    img {
      width: 90% !important;
      align-self: center !important;
    }
  }
  @media all and (max-width: 1200px) {
    body.styleguide {
      section {
        height: 90vh !important;
      }
    }
  }
  @media all and (max-width: 1100px) {
    body.styleguide {
      section {
        height: 60vh !important;
      }
    }
  }
  @media all and (max-width: 900px) {
    nav {
      li {
        a {
          font-size: 2.5vw !important;
        }
      }
    }
  }
}
