:root {
  --mainBlue: #225ee9;
  --mainGrey: #222222;
  --borderColor: #010101;
  --heading_font: 'CSTM', serif;
  --main_font: 'Helvetica', sans-serif;
  --white: #ffffff;
  --black: #202020;
  --text_color: #202020;
  --text_size: 60px;
  --line_height: 80px;
  --navigationWidth: 22vw;
  --mainWidth: calc(100% - var(--navigationWidth));
  --mainMarginLeft: var(--navigationWidth);
  --fontStyleSize: 2vw;
  --mainTextSize: 36px;
  --infoTextSize: 32px;
  --infoTitleSize: 32px;
  --mainTextLineHeight: 128%;
  --borderRadiusButtons: 6px;
  --buttonsTextSize: 26px;
  --buttonWidth: 264px;
  --buttonHeight: 44px;
  // --navigationWidth: 17vw;
  // --navigationExtendedWidth: 57vw;
  // --marginMain: calc(var(--navigationWidth) + var(--margin));
  // --marginExtendedMain: calc(var(--navigationExtendedWidth) + var(--margin));
  // --navigationWidth: 328px;
  // --navigationExtendedWidth: 1200px;
  // // --margin: 5%;
  --margin: 80px;
  // --marginMain: calc(var(--menuWidth) + var(--margin));
  // --marginExtendedMain: calc(var(--navigationExtendedWidth) + var(--margin));
  // --menuWidth: calc(var(--margin) + var(--margin) + 370px);
  @media all and (max-width: 1024px) {
    --margin: 30px;
    --navigationWidth: var(--margin);
    --infoTextSize: 3.5vw;
    --infoTitleSize: 4vw;
    --fontStyleSize: 3vw;
    --mainTextSize: 3.5vw;
  }
}
