:root {
  --white: white;
  --black: #202020;
  --text_color: #202020;
  --heading_font: 'CSTM';
  --main_font: 'Steinback';
  --text_size: 60px;
  --line_height: 80px;
  --main_blue: #5552ff;
  --main_grey: #222222;
  --navigationWidth: 328px;
  --navigationExtendedWidth: 676px;
  --margin: 100px;
  --marginMain: calc(var(--navigationWidth) + var(--margin));
  --marginExtendedMain: calc(var(--navigationExtendedWidth) + var(--margin));
}
@media all and (max-width: 1728px) {
  :root {
    --text_size: 56px;
  }
}
