.A_HeaderButton {
  position: relative;
  width: 50px;
  height: 20px;
  background-color: #dfdeff;
  border-radius: 12px;
  .Q_Circle {
    background-color: var(--mainBlue);
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(0% + 2px);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }

  &.Active {
    .Q_Circle {
      left: calc(100% - 17px);
    }
  }
}
