* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  img {
    max-width: 100%;
  }
}
.A_MainIllustrations {
  display: block;
}
.A_MainIllustrationsMobile {
  display: none;
}

.A_MainText {
  text-indent: 5.7vw;
  font-size: 46px;
}
.A_Heading {
  display: flex;
  flex-direction: row;
  padding: 32px;
  font-size: 2.1vw;
  color: var(--mainGray);
  height: 10.5vw;
  background: var(--mainBlue);
  border-radius: 25px;
}

.A_SecondHeading {
  border: 2px solid var(--mainGray);
  padding: 5px 14px;
  width: fit-content;
  border-radius: 25px;
  font-size: 1.3vw;
  transition: 0.2s all ease;
  color: var(--mainGray);
  cursor: pointer;
  &:visited {
    color: var(--mainGray);
  }
  &:hover {
    background-color: var(--mainGray);
    color: black;
  }
}
.A_NavText {
  all: unset;
  display: flex;
  padding: 9px 11px;
  border-radius: 9px;
  color: black;
  font-family: var(--interfaceFont);
  font-size: 26px;
  cursor: pointer;
  &.active {
    background: var(--mainBlue);
    color: white;
  }
}
.A_Sign {
  color: black;
  font-size: 24px;
}
.A_SupportiveText {
  color: black;
  font-size: 16px;
}
.C_SignRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
.A_FontStyle {
  font-size: var(--fontStyleSize);
  line-height: 48px;
}
.Q_RadioButton {
  border-radius: 100px;
  min-width: 18px;
  width: 18px;
  aspect-ratio: 1/1;
  border: 1px solid white;
  &.active {
    background-color: white;
  }
}
.C_NavList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-items: center;
  width: var(--navigationWidth);
  height: 100%;
  border-right: 1px solid black;
}
.C_BreadCrumbsAndDownloadButton {
  position: fixed;
  pointer-events: none;
  display: flex;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 90%;
  width: 100%;
  padding-left: calc(var(--navigationWidth) + 40px);
  a {
    all: unset;
    pointer-events: all;
    cursor: pointer;
    // text-decoration: underline;
    padding: 5px 5px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }
}
.A_Screen {
  width: 100%;
  // border-bottom: 1px solid black;
  // padding: 3vw 0 3vw;
  &.M_Intro {
    // padding: 600px 0 3vw;
  }
}
.A_HorizontalLine {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 2vw 0 2vw;
}
#rightBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid var(--borderColor);
  right: var(--margin);
  top: 50%;
  transform: translate(0, -50%);
  height: 90%;
}
.Q_Devision {
  height: 1200px;
  img {
    width: 80%;
    position: sticky;
    top: 100px;
  }
}
.transition {
  transition: 0.1s all;
}
.A_GlyphShrink {
  flex-grow: 2;
  &:nth-of-type(1) {
    margin-bottom: -2px;
    border-right: 1px solid white;
  }
  &:nth-of-type(3) {
    border-left: 1px solid white;
  }
}
.A_GlyphGrow {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  span {
    margin-bottom: -13px;
    line-height: 75%;
    align-self: center;
    font-size: 440px;
    color: white;
  }
}
.A_GlyphFontParameters {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  bottom: 0;
  width: 100%;
  p {
    font-size: 12px;
  }
}
.A_Glyph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  font-size: 40px;
  cursor: default;
  &:hover {
    border-color: var(--mainBlue);
    background-color: var(--mainBlue);
    z-index: 100;
    color: white;
  }
}
.C_Glyphs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.A_InfoTitle {
  font-size: var(--infoTitleSize);
  line-height: var(--mainTextLineHeight);
}
.A_InfoText {
  font-size: var(--infoTextSize);
  line-height: var(--mainTextLineHeight);
  white-space: nowrap;
}
.A_MainText {
  font-size: var(--mainTextSize);
  line-height: var(--mainTextLineHeight);
  &.hidden {
    display: none;
  }
}
.A_LanguagesButton {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  background-color: var(--mainBlue);
  font-size: var(--buttonsTextSize);
  border-radius: var(--borderRadiusButtons);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  color: white;
  cursor: pointer;
}
.A_MenuSectionTitle {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  &:nth-last-child(1) {
    margin-top: 84px;
  }
}
.A_MenuHorizontalButton {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border-radius: 5px;
  gap: 10px;
  width: 200px;
  height: 100%;
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
  }
  &.active {
  }
}
.A_NavigationButton {
  text-decoration: none;
  color: #010101;
  margin-top: 0;
  font-size: 26px;
  line-height: 30px;
  &.active {
    text-decoration: underline;
  }
}
.A_MenuFontStyleText {
  margin-top: 10px;
  color: white;
  font-size: 9px;
}
#leftBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid black;
  left: var(--navigationWidthPixels);
  top: 50%;
  transform: translate(0, -50%);
  height: 90.2%;
}
#rightBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid black;
  right: var(--margin);
  top: 50%;
  transform: translate(0, -50%);
  height: 90.2%;
}
.A_MenuPreviewInput {
  box-sizing: border-box;
  overflow: auto;
  color: var(--mainGray);
  display: block;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--mainGray);
  width: 100%;
  height: 100px;
  font-size: 18px;
  &::placeholder {
    font-size: 18px;
    color: var(--mainGray);
  }
}
.A_FontPreview {
  text-overflow: ellipsis;
}
textarea {
  all: unset;
}
@media all and (max-width: 1690px) {
  .A_Glyph {
    font-size: 34px;
  }
  .C_Glyphs {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media all and (max-width: 1440px) {
  .C_BreadCrumbsAndDownloadButton {
    display: none;
  }
}
@media all and (max-width: 1200px) {
  .A_Sign {
    color: black;
    font-size: 24px;
  }
  .A_SupportiveText {
    color: black;
    font-size: 16px;
  }
  .C_SignRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }
}
@media all and (max-width: 1024px) {
  .A_SecondHeading {
    padding: 10px;
    font-size: 2.2vw;
  }
  .A_MainIllustrations {
    display: none;
  }
  .A_MainIllustrationsMobile {
    display: block;
  }

  #rightBorder {
    right: var(--margin);
  }
  .Q_Devision {
    display: none;
  }
  .A_InfoTitle {
    font-size: var(--infoTitleSize);
  }
}
@media all and (max-width: 1024px) {
  .A_SecondHeading {
    padding: 15px;
    font-size: 2.9vw;
  }
}
@media all and (max-width: 700px) {
  .A_SecondHeading {
    padding: 10px;
    font-size: 5vw;
  }
  .A_MainText {
    font-size: 4.1vw;
  }
}
