.O_GlyphSlot {
  display: flex;
  flex-direction: row;
  background-color: var(--mainBlue);
  border-radius: 15px;
  width: 90%;
  height: 90%;
  padding: 12% 5%;
  align-self: center;
}
.O_Languages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: fit-content;
  .A_LanguagesButton {
    align-self: center;
  }
}
.O_Pairs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40vw;
  align-items: flex-end;
}
.O_Usage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    width: 90%;
    border-radius: 12px;
  }
  div {
    flex-grow: 1;
  }
}
@media all and (max-width: 1024px) {
  .O_Languages {
  }
  .O_Usage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 40px;
    img {
      width: 98%;
    }
  }
}
