* {
  box-sizing: border-box;
  font-family: var(--interfaceFont);
  img {
    max-width: 100%;
  }
}
.Q_AnimationContainer {
  height: 30vh;
}
.A_BlueHeading {
  color: var(--mainBlue);
}
.A_Description {
  font-family: var(--interfaceFont);
  font-size: 14px;
  color: var(--mainGray);
  white-space: nowrap;
  transition: all 0.15s ease;
}
.U_Mobile {
  display: none;
}
.A_Mobile {
  display: none;
}
.A_Heading {
  display: flex;
  flex-direction: row;
  padding: 32px;
  font-size: 2.1vw;
  color: var(--mainGray);
  height: 10.5vw;
  background: var(--mainBlue);
  border-radius: 25px;
}

.A_Switch {
  display: flex;
}
.A_SplashTitle {
  z-index: 2;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 33vw;
  line-height: 743px;
  letter-spacing: -0.04em;
  color: var(--mainGray);
}
.Q_SplashBackground,
.U_Mobile {
  z-index: 1;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: aliceblues;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.A_Menu {
  height: 2px;
  background-color: var(--mainGray);
  width: 36px;
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  transition: all 0.15s ease;
  &.active {
  }
}
.A_Menu::after {
  content: '';
  height: 2px;
  background-color: var(--mainGray);
  width: 36px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -8px;
  vertical-align: middle;
  transition: all 0.15s ease;
  &.active {
    top: 0;
    transform: rotate(45deg);
    transition: 0.15s ease-in-out;
  }
}
.A_Menu::before {
  content: '';
  height: 2px;
  background-color: var(--mainGray);
  width: 36px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -8px;
  vertical-align: middle;
  transition: all 0.15s ease;
  &.active {
    top: 0;
    transform: rotate(-45deg);
    transition: 0.15s ease-in-out;
  }
}

.A_NavText {
  all: unset;
  display: flex;
  padding: 9px 11px;
  border-radius: 9px;
  color: black;
  font-family: var(--interfaceFont);
  font-size: 26px;
  cursor: pointer;
  &.active {
    width: fit-content;
    background: var(--mainBlue);
    margin-right: 20px;
    color: var(--mainGray);
  }
  &:hover:not(.active) {
    width: fit-content;
    background-color: white;
  }
}
.A_FontStyle {
  font-size: var(--fontStyleSize);
  line-height: 3.5vw;
}
.Q_RadioButton {
  border-radius: 100px;
  width: 16px;
  aspect-ratio: 1/1;
  border: 1px solid var(--mainGray);
  div {
    font-size: 18px;
  }
  &.active {
    background-color: var(--mainGray);
  }
}
.C_NavList {
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-items: center;
  width: var(--navigationWidth);
  height: 100%;
  .A_NavText:not(.active) {
    color: var(--mainBlack);
    width: fit-content;
    background: var(--mainGray);
  }
}
.C_BreadCrumbsAndDownloadButton {
  position: fixed;
  pointer-events: none;
  display: flex;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 90%;
  width: 100%;
  padding-left: calc(var(--navigationWidth) + 40px);
  a {
    all: unset;
    pointer-events: all;
    cursor: pointer;
    // text-decoration: underline;
    padding: 5px 5px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }
}
.A_Screen:not(.W_Usage) {
  width: 100%;
  min-height: 90vh;
  // border-bottom: 1px solid black;
  // padding: 3vw 0 3vw;
  &.M_Intro {
    // padding: 600px 0 3vw;
  }
}
.A_HorizontalLine {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 2vw 0 2vw;
}
#rightBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid var(--borderColor);
  right: var(--margin);
  top: 50%;
  transform: translate(0, -50%);
  height: 90%;
}
.Q_Devision {
  height: 1200px;
  img {
    width: 80%;
    position: sticky;
    top: 100px;
  }
}
.transition {
  transition: 0.1s all;
}
.A_GlyphShrink {
  flex-grow: 2;
  &:nth-of-type(1) {
    margin-bottom: -2px;
    border-right: 1px solid var(--mainGray);
  }
  &:nth-of-type(3) {
    border-left: 1px solid var(--mainGray);
  }
}
.A_GlyphGrow {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  span {
    margin-bottom: -13px;
    line-height: 75%;
    align-self: center;
    font-size: 23vw;
    color: var(--mainGray);
  }
}
.A_GlyphFontParameters {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--mainGray);
  bottom: 0;
  width: 100%;
  p {
    font-size: 12px;
  }
}
.A_Glyph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  font-size: 40px;
  cursor: default;
  &:hover {
    border-color: var(--mainBlue);
    background-color: var(--mainBlue);
    z-index: 100;
    color: var(--mainGray);
  }
}
.C_Glyphs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.A_InfoTitle {
  font-size: var(--infoTitleSize);
  line-height: var(--mainTextLineHeight);
}
.A_SecondHeading {
  border: 2px solid var(--mainBlack);
  padding: 5px 14px;
  width: fit-content;
  border-radius: 25px;
  font-size: 1.3vw;
  transition: 0.2s all ease;
  color: var(--mainBlack);
  cursor: pointer;
  &:visited {
    color: var(--mainBlack);
  }
  &:hover {
    background-color: var(--mainBlack);
    color: var(--mainGray);
  }
}
.A_InfoText {
  font-size: var(--infoTextSize);
  line-height: var(--mainTextLineHeight);
  white-space: nowrap;
}
.A_BlueHeading {
  font-size: var(--mainTextSize);
  line-height: var(--mainTextLineHeight);
  white-space: nowrap;
  width: fit-content;
}
.A_MainText {
  font-size: var(--mainTextSize);
  line-height: var(--mainTextLineHeight);
  text-indent: 10vw;
  white-space: nowrap;
  width: fit-content;
  text-indent: 14vw;
  &.hidden {
    display: none;
  }
}
.A_LanguagesButton {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10vh;
  background-color: var(--mainBlue);
  font-size: var(--buttonsTextSize);
  border-radius: var(--borderRadiusButtons);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  color: var(--mainGray);
  cursor: pointer;
}
.A_MenuSectionTitle {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  color: var(--mainGray);
  opacity: 0.8;
  &:nth-last-child(1) {
    margin-top: 84px;
  }
}
.A_MenuHorizontalButton {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--mainGray);
  border-radius: 5px;
  gap: 10px;
  width: 160px;
  height: 100%;
  font-size: 12px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
  }
  &.active {
  }
}
.A_NavigationButton {
  text-decoration: none;
  color: #010101;
  margin-top: 0;
  font-size: 26px;
  line-height: 30px;
  &.active {
    text-decoration: underline;
  }
}
.A_MenuFontStyleText {
  margin-top: 10px;
  color: var(--mainGray);
  font-size: 9px;
}
#leftBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid black;
  left: var(--navigationWidthPixels);
  top: 50%;
  transform: translate(0, -50%);
  height: 90.2%;
}
#rightBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid black;
  right: var(--margin);
  top: 50%;
  transform: translate(0, -50%);
  height: 90.2%;
}
.A_MenuPreviewInput {
  color: var(--mainGray);
  display: block;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid var(--mainGray);
  width: 100%;
  height: 125px;
  font-size: 18px;
}
.A_FontPreview {
  text-overflow: ellipsis;
}
.A_Border {
  width: 1px;
  height: 85vh;
  background-color: black;
  position: fixed;
  /* margin-left: -80px; */
  top: 53%;
  transform: translateY(-50%);
  &:nth-of-type(1) {
    left: 22vw;
  }
  &:nth-of-type(2) {
    right: 80px;
  }
}
.C_Borders {
  display: flex;
  justify-content: space-between;
  height: 85%;
}
textarea {
  all: unset;
}
@media all and (max-width: 1690px) {
  .A_Glyph {
    font-size: 34px;
  }
  .C_Glyphs {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media all and (max-width: 1440px) {
  .C_HeaderSwitch {
    display: flex;
  }
  .A_Switch {
    display: none;
    img {
      display: none;
    }
  }
  .C_HeaderLinks {
    display: none;
  }
  .Q_AnimationContainer {
    display: none;
  }
  .A_Border {
    &:nth-of-type(1) {
      left: 40px;
    }
    &:nth-of-type(2) {
      right: 40px;
    }
  }
  .C_BreadCrumbsAndDownloadButton {
    display: none;
  }
  .C_Glyphs {
    grid-template-columns: repeat(8, 1fr);
  }
  .A_MainText {
    text-indent: 250px;
    font-size: 32px;
  }
  .A_SecondHeading {
    padding: 10px;
    font-size: 20px;
  }
}
@media all and (max-width: 1150px) {
  .A_MainText {
    text-indent: 250px;
    font-size: 26px;
  }
  .A_BlueHeading {
    font-size: 26px;
  }
  .A_SecondHeading {
    padding: 10px;
    font-size: 20px;
  }
  .Q_SupportiveText {
    white-space: nowrap;
    font-size: 14px;
  }
}
@media all and (max-width: 1024px) {
  .A_MainText {
    text-indent: 250px;
    font-size: 26px;
  }
  .A_SecondHeading {
    padding: 10px;
    font-size: 20px;
  }
  .Q_SupportiveText {
    white-space: nowrap;
    font-size: 14px;
  }
  .A_FontStyle {
    line-height: 5vw;
  }

  #rightBorder {
    right: var(--margin);
  }
  .Q_Devision {
    display: none;
  }
  .A_InfoTitle {
    font-size: var(--infoTitleSize);
  }
  .A_Border {
    &:nth-of-type(1) {
      left: 20px;
    }
    &:nth-of-type(2) {
      right: 20px;
    }
  }
}
@media all and (max-width: 800px) {
  .U_Mobile {
    display: block;
  }
  .A_MainText {
    text-indent: 30vw;
    font-size: 4vw;
    white-space: normal;
    max-width: 100%;
    br {
      display: none;
    }
  }
  .A_SecondHeading {
    padding: 10px;
    font-size: 5vw;
  }
}
