* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  img {
    max-width: 100%;
  }
}
.Q_AnimationContainer {
  height: 60vh;
}
.A_Description {
  font-family: var(--interfaceFont);
  font-size: 14px;
  color: white;
  white-space: nowrap;
  transition: all 0.15s ease;
}
.A_Switch {
  display: flex;
}
.A_Menu {
  height: 2px;
  background-color: white;
  width: 36px;
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  transition: all 0.15s ease;
  &.active {
  }
}
.A_Menu::after {
  content: '';
  height: 2px;
  background-color: white;
  width: 36px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -8px;
  vertical-align: middle;
  transition: all 0.15s ease;
  &.active {
    top: 0;
    transform: rotate(45deg);
    transition: 0.15s ease-in-out;
  }
}
.A_Menu::before {
  content: '';
  height: 2px;
  background-color: white;
  width: 36px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -8px;
  vertical-align: middle;
  transition: all 0.15s ease;
  &.active {
    top: 0;
    transform: rotate(-45deg);
    transition: 0.15s ease-in-out;
  }
}

.A_HeaderLine {
  height: 1px;
  width: 48px;
  background-color: white;
  white-space: nowrap;
  transition: all 0.15s ease;
}
.Q_Logo {
  width: 105px;
  height: 31px;
  transition: all 0.15s ease;
}
.A_HeaderLink {
  font-family: var(--interfaceFont);
  font-size: 14px;
  white-space: nowrap;

  color: white;
}
.C_LogoAndDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 313px;
}
.C_HeaderLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 44px;
  height: 30px;

  width: 313px;
}
.C_HeaderSwitch {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 313px;
  height: 30px;

  &.active {
    .A_Menu {
      background: transparent;
    }
    .A_Menu::before {
      background: black;
      opacity: 1;
      top: 0;
      transform: rotate(-45deg);
      transition: 0.15s ease-in-out;
    }
    .A_Menu::after {
      background: black;
      opacity: 1;
      top: 0;
      transform: rotate(45deg);
      transition: 0.15s ease-in-out;
    }
  }
}
.W_Header {
  z-index: 1000;
  left: 32;
  position: sticky;
  top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: var(--mainBlue);
  border-radius: 20px;
  width: 100%;
  height: 50px;
  transition: 0.5s ease-in-out;
  align-items: flex-start;

  &.active {
    background: white;
    align-items: flex-start;
    transition: 0.5s ease-in-out;
    height: 380px;
    .Q_Logo {
      filter: brightness(0);
    }
    .A_HeaderLine {
      background-color: #010101;
    }
    .A_Description {
      color: black;
    }
  }
}
.A_NavText {
  all: unset;
  display: flex;
  padding: 9px 11px;
  border-radius: 9px;
  color: black;
  font-family: var(--interfaceFont);
  font-size: 26px;
  cursor: pointer;
  &.active {
    background: var(--mainBlue);
    margin-right: 20px;
    color: white;
  }
}
.A_FontStyle {
  font-size: var(--fontStyleSize);
  line-height: 3.5vw;
}
.Q_RadioButton {
  border-radius: 100px;
  width: 16px;
  aspect-ratio: 1/1;
  border: 1px solid white;
  &.active {
    background-color: white;
  }
}
.C_NavList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-items: center;
  width: var(--navigationWidth);
  height: 100%;
}
.C_BreadCrumbsAndDownloadButton {
  position: fixed;
  pointer-events: none;
  display: flex;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 90%;
  width: 100%;
  padding-left: calc(var(--navigationWidth) + 40px);
  a {
    all: unset;
    pointer-events: all;
    cursor: pointer;
    // text-decoration: underline;
    padding: 5px 5px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }
}
.A_Screen {
  width: 100%;
  // border-bottom: 1px solid black;
  // padding: 3vw 0 3vw;
  &.M_Intro {
    // padding: 600px 0 3vw;
  }
}
.A_HorizontalLine {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 2vw 0 2vw;
}
#rightBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid var(--borderColor);
  right: var(--margin);
  top: 50%;
  transform: translate(0, -50%);
  height: 90%;
}
.Q_Devision {
  height: 1200px;
  img {
    width: 80%;
    position: sticky;
    top: 100px;
  }
}
.transition {
  transition: 0.1s all;
}
.A_GlyphShrink {
  flex-grow: 2;
  &:nth-of-type(1) {
    margin-bottom: -2px;
    border-right: 1px solid white;
  }
  &:nth-of-type(3) {
    border-left: 1px solid white;
  }
}
.A_GlyphGrow {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  span {
    margin-bottom: -13px;
    line-height: 75%;
    align-self: center;
    font-size: 23vw;
    color: white;
  }
}
.A_GlyphFontParameters {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  bottom: 0;
  width: 100%;
  p {
    font-size: 12px;
  }
}
.A_Glyph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  font-size: 40px;
  cursor: default;
  &:hover {
    border-color: var(--mainBlue);
    background-color: var(--mainBlue);
    z-index: 100;
    color: white;
  }
}
.C_Glyphs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.A_InfoTitle {
  font-size: var(--infoTitleSize);
  line-height: var(--mainTextLineHeight);
}
.A_InfoText {
  font-size: var(--infoTextSize);
  line-height: var(--mainTextLineHeight);
  white-space: nowrap;
}
.A_MainText {
  font-size: var(--mainTextSize);
  line-height: var(--mainTextLineHeight);
  &.hidden {
    display: none;
  }
}
.A_LanguagesButton {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10vh;
  background-color: var(--mainBlue);
  font-size: var(--buttonsTextSize);
  border-radius: var(--borderRadiusButtons);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  color: white;
  cursor: pointer;
}
.A_MenuSectionTitle {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  opacity: 0.8;
  &:nth-last-child(1) {
    margin-top: 84px;
  }
}
.A_MenuHorizontalButton {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  border-radius: 5px;
  gap: 10px;
  width: 160px;
  height: 100%;
  font-size: 12px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
  }
  &.active {
  }
}
.A_NavigationButton {
  text-decoration: none;
  color: #010101;
  margin-top: 0;
  font-size: 26px;
  line-height: 30px;
  &.active {
    text-decoration: underline;
  }
}
.A_MenuFontStyleText {
  margin-top: 10px;
  color: white;
  font-size: 9px;
}
#leftBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid black;
  left: var(--navigationWidthPixels);
  top: 50%;
  transform: translate(0, -50%);
  height: 90.2%;
}
#rightBorder {
  position: fixed;
  width: 1px;
  border-right: 1px solid black;
  right: var(--margin);
  top: 50%;
  transform: translate(0, -50%);
  height: 90.2%;
}
.A_MenuPreviewInput {
  width: 100%;
  height: 125px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-size: 18px;
}
.A_FontPreview {
  text-overflow: ellipsis;
}
.A_Border {
  width: 1px;
  height: 85vh;
  background-color: black;
  position: fixed;
  /* margin-left: -80px; */
  top: 53%;
  transform: translateY(-50%);
  &:nth-of-type(1) {
    left: 22vw;
  }
  &:nth-of-type(2) {
    right: 80px;
  }
}
.C_Borders {
  display: flex;
  justify-content: space-between;
  height: 85%;
}
textarea {
  all: unset;
}
@media all and (max-width: 1690px) {
  .A_Glyph {
    font-size: 34px;
  }
  .C_Glyphs {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media all and (max-width: 1440px) {
  .C_HeaderSwitch {
    display: flex;
  }
  .A_Switch {
    display: none;
    img {
      display: none;
    }
  }
  .C_HeaderLinks {
    display: none;
  }
  .Q_AnimationContainer {
    display: none;
  }
  .A_Border {
    &:nth-of-type(1) {
      left: 40px;
    }
    &:nth-of-type(2) {
      right: 40px;
    }
  }
  .C_BreadCrumbsAndDownloadButton {
    display: none;
  }
  .C_Glyphs {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media all and (max-width: 1024px) {
  .A_FontStyle {
    line-height: 5vw;
  }
  #rightBorder {
    right: var(--margin);
  }
  .Q_Devision {
    display: none;
  }
  .A_InfoTitle {
    font-size: var(--infoTitleSize);
  }
  .A_Border {
    &:nth-of-type(1) {
      left: 20px;
    }
    &:nth-of-type(2) {
      right: 20px;
    }
  }
}
