.M_Intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25vw;
}
.Q_MenuSearchIcon {
  max-height: 100%;
  width: fit-content;
}
.M_MenuSearch {
  padding: 6px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: white;
  width: 340px;
  height: 36px;
  border-radius: 10px;
  input {
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    background-color: transparent;
    height: 100%;
  }
}
//
.M_FontStyleTable {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;

  .A_FontStyle {
    white-space: nowrap;
  }
}
.С_InformationColumns {
  overflow: hidden;

  display: flex;
  justify-content: space-between;
}
.M_InformationColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.M_UsageExample {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.M_HorizontalLines {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 12% 5%;
  position: absolute;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  .A_GlyphShrink {
    border: 0;
    &:nth-of-type(1) {
      border-bottom: 1px solid white;
    }
    &:nth-of-type(3) {
      border-top: 1px solid white;
    }
  }
}
.W_MenuButtonTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  column-gap: 11px;
  margin-bottom: 25px;
  .M_MenuFontStyleButton {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 65px;
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #6c81f8;
      cursor: pointer;
    }
    &:focus {
      background-color: #566ce78d;
      cursor: pointer;
    }
    &.active {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.W_MenuBottom {
  width: 338px;
  .lolik {
    margin-top: 22px;
    width: 100%;
  }
  .Q_MenuBottomBG {
    width: 100%;
    padding: 16px;
    border-radius: 26px;
    background-color: #757aff;
  }
}

.O_GlyphSlot {
  display: flex;
  flex-direction: row;
  background-color: var(--mainBlue);
  border-radius: 15px;
  width: 90%;
  height: 90%;
  padding: 12% 5%;
  align-self: center;
}
.W_GlyphArea {
}
.W_GlyphTable {
  height: 270vw;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.W_Nav {
  overflow: hidden;
  position: fixed;
  display: flex;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  flex-direction: column;
  height: 90%;
  width: var(--navigationWidth);
  border-right: 1px solid black;
  justify-content: center;

  .C_NavList {
    padding: 0 30px;
  }
}
.W_ThreeColumnsInOneRow {
  display: flex;
  justify-content: space-between;
}
.W_GlyphSlot {
  display: flex;
  justify-content: center;
  background-color: var(--mainBlue);
  width: 100%;
  height: 85vh;
  position: sticky;
  top: 96px;
  border-radius: 44px;
  flex-grow: 1;
}
.C_Column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.C_MenuHorizontalButtonRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.W_MenuParameters {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:nth-last-of-type(1) {
    margin-top: 16px;
  }
  .C_MenuIconParameter {
    display: flex;
    flex-direction: row;
    img {
      margin-right: 22px;
    }
    .C_MenuSettingsBox {
      width: 88px;
      display: flex;
      flex-direction: row;
      border-radius: 5px;
      background-color: white;
      opacity: 0.8;
      padding: 2px 10px;
    }
  }
}
@media all and (max-width: 1690px) and (min-width: 1025px) {
  .W_GlyphTable {
    height: 800vh;
  }
}
@media all and (max-width: 1440px) {
  .W_Nav {
    display: none;
    .W_GlyphSlot {
      display: none;
    }
  }
  .Q_Devision {
    display: none;
  }
  .O_GlyphsAndGlyphSlot {
    display: flex;
    gap: 40px;
    .W_GlyphsTable {
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}
@media all and (max-width: 1024px) {
  .W_GlyphTable {
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .M_UsageExample {
    display: flex;
    flex-direction: column;
  }
  .С_InformationColumns {
    flex-direction: column;
    gap: 7vw;
    padding: 30px 0 30px;
  }
  .M_InformationColumn {
    gap: 20px;
  }
  .M_UsageExample {
    gap: 0px;
    .A_InfoTitle {
      color: grey;
      font-size: 3.5vw;
    }
    .A_InfoText {
      color: grey;
      font-size: 2vw;
    }
  }
}
