.W_Intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: var(--padding);
}
.W_InformationColumns {
  overflow: hidden;
  padding-left: var(--padding);
}
.W_Usage {
  padding: 70px 70px 70px var(--navigationWidth);
}
.W_FontArticle {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 100%;
  gap: 300px;
  display: grid;
}
.M_MainTextAndSupBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.C_UseCases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  img {
    width: 100%;
    border-radius: 12px;
  }
  div {
    flex-grow: 1;
  }
}
.C_CharacterAndAuthors {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.Q_MenuSearchIcon {
  max-height: 100%;
  width: fit-content;
}
.O_GlyphsAndGlyphSlot {
  padding: 70px 70px 70px var(--navigationWidth);

  display: flex;
  flex-direction: row;
  .W_GlyphSlot {
    max-width: 700px;
  }
}
.M_MenuSearch {
  padding: 6px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: white;
  width: 340px;
  height: 36px;
  border-radius: 10px;
  input {
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: var(--interfaceFont);
    font-weight: 500;
    background-color: transparent;
    height: 100%;
  }
}
//
.M_FontStyleTable {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;

  .A_FontStyle {
    white-space: nowrap;
  }
}
.M_InformationColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.M_UsageExample {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.M_HorizontalLines {
  left: var(--padding);
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 12% 5%;
  position: absolute;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  .A_GlyphShrink {
    border: 0;
    &:nth-of-type(1) {
      border-bottom: 1px solid white;
    }
    &:nth-of-type(3) {
      border-top: 1px solid white;
    }
  }
}
.W_MenuButtonTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  column-gap: 11px;
  margin-bottom: 25px;
  .M_MenuFontStyleButton {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 65px;
    border: 1px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #6c81f8;
      cursor: pointer;
    }
    &:focus {
      background-color: #566ce78d;
      cursor: pointer;
    }
    &.active {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.W_MenuBottom {
  width: 338px;
  .lolik {
    margin-top: 22px;
    width: 100%;
  }
  .Q_MenuBottomBG {
    width: 100%;
    padding: 16px;
    border-radius: 26px;
    background-color: #757aff;
  }
}

.O_GlyphSlot {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
  padding: 12% 5%;
  align-self: center;
}
.W_GlyphArea {
}
.W_GlyphsTable {
  padding-left: var(--padding);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.W_Nav {
  grid-area: 1/1;
  position: sticky;
  top: 1px;
  overflow: hidden;
  min-width: 22vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: var(--navigationWidth);
  justify-content: center;

  .C_NavList {
    padding: 0 30px;
    a {
      color: black;
    }
  }
}
.W_BorderAndNavList {
  display: flex;
}
.W_ThreeColumnsInOneRow {
  display: flex;
  justify-content: space-between;
}
.W_GlyphSlot {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85vh;
  position: sticky;
  top: 110px;
  flex-grow: 1;
}
.C_Column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.C_MenuHorizontalButtonRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.W_MenuParameters {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &:nth-last-of-type(1) {
    margin-top: 16px;
  }
  .C_MenuIconParameter {
    display: flex;
    flex-direction: row;
    img {
      margin-right: 22px;
    }
    .C_MenuSettingsBox {
      width: 88px;
      display: flex;
      flex-direction: row;
      border-radius: 5px;
      background-color: white;
      opacity: 0.8;
      padding: 2px 10px;
    }
  }
}
@media all and (max-width: 1690px) and (min-width: 1025px) {
  .W_GlyphTable {
    height: 800vh;
  }
  .M_HorizontalLines {
    width: 600px;
  }
}
@media all and (max-width: 1440px) {
  .M_HorizontalLines {
    left: 0;
    width: 41vw;
  }
  .W_Intro {
    padding: 0;
  }
  .W_Nav {
    display: none;
    .W_GlyphSlot {
      display: none;
    }
  }
  .Q_Devision {
    display: none;
  }
  .O_GlyphsAndGlyphSlot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .W_GlyphsTable {
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}
@media all and (max-width: 1024px) {
  .C_UseCases {
    grid-template-columns: repeat(2, 1fr);
  }
  .W_GlyphTable {
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .M_UsageExample {
    display: flex;
    flex-direction: column;
  }
  .W_InformationColumns {
    flex-direction: column;
    gap: 7vw;
    padding: 30px 0 30px;
  }
  .M_InformationColumn {
    gap: 20px;
  }
  .M_UsageExample {
    gap: 0px;
    .A_InfoTitle {
      color: grey;
      font-size: 3.5vw;
    }
    .A_InfoText {
      color: grey;
      font-size: 2vw;
    }
  }
}
@media all and (max-width: 824px) {
  .C_UseCases {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    .M_UsageExample {
      display: flex;
      gap: 10px;
      .A_SecondHeading {
        font-size: 4vw;
      }
      p {
        font-size: 4vw;
      }
    }
  }
  .M_MainTextAndSupBlock {
    flex-direction: column;
    gap: 50px;
    .Q_SupportiveText {
      align-self: flex-end;
    }
    .A_MainText {
      text-indent: 30vw;
      font-size: 4vw;
    }
  }
  .W_GlyphSlot {
    display: none;
  }
  .W_GlyphsTable {
    padding: 0;
    grid-area: 1/1/3/3;
  }
}
