.SO_Main {
  grid-area: 1/1;
  margin-top: 100px;
  max-width: 100%;
  transition: all 0.15s ease;
  &.active {
    filter: brightness(0.4);
  }
}
.SO_FontPreviewScreen {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  gap: 30px;
}
.SO_MainLibrary {
  margin-left: var(--navigationWidthPixels);
  padding: 0px 100px 0 40px;
  max-width: 1920px;
}
@media all and (max-width: 1440px) {
  .SO_Main {
    width: 100%;
    margin: 0;
    .O_AboutFontMain,
    .O_AboutFontStyles,
    .O_GlyphsAndGlyphSlot,
    .W_Usage {
      padding: 90px 90px 90px 90px;
    }
  }
}
@media all and (max-width: 1024px) {
  .SO_Main {
  }
}
@media all and (max-width: 824px) {
  .SO_Main {
    width: 100%;
    margin: 0;
    padding: 0;
    .O_AboutFontMain,
    .O_AboutFontStyles,
    .O_GlyphsAndGlyphSlot,
    .W_Usage {
      flex-direction: column;
      padding: 50px;
    }
  }
}
